*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #f9f5ed;


}

nav{
    padding: 20px  ;
    height: 20vh;
    margin-left: 50px;
/*     
.logo{
   
    display: inline-block;
    margin-left: 50px;
} */
}
 nav ul{
    display: flex;    
    gap: 40px;
    align-items: center;
 }
  
 nav ul li{
    font-weight: 500;
    list-style: none;
    
 }
 .main{
     display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center; 
    /* display: flex;
    align-items: center;
    justify-content: center ; */
    
    
 }

 .left_main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 80px;
   
 }

 .left_main h1{
    font-size: 50px;
 
  }

  .left_main p{
    margin: 5% 0;
 
  }
 
 .btn{
    padding: 15px 20px;
    border: none;
    background-color: #3b855b;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    font-size: 15px;
 }


 .right_main{
    
    width: 60%;
 }

 .right_main img{
    border-radius: 10px;
 }